body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
margin: 0;
}
nav{
    background-color: lightgrey;
    padding: 2%;
}
a{
    text-decoration: none;
    margin: 0 50px;
}
a:hover{
    color: linen;
}
.dark-mode{
background-color: darkgray;
color: white;
}